
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DownLoad</title>
<style type="text/css">
* { padding: 0; margin: 0;}
body { background: url(/assets/black_bg.jpg) repeat;}
img { border: none;}
.downLoad { width: 780px; margin: 100px auto;}
.dl_title { width: 780px; height: 90px;}
.dl_btn { width: 280px; height: 95px; margin: 100px auto 0 auto}
</style>
</head>

<body>
    <div class="downLoad">
         <div class="dl_title"><img src="/assets/lt_title.png" /></div>
         <div class="dl_btn"><a href="#" onclick="window.open('/car_records/download_info','_blank')"><img src="/assets/lt_btn.png" /></a></div>
    </div>
</body>
</html>
